

  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Pedido</mat-card-title>
      </mat-card-header>

        <mat-card-content>
            <mat-list *ngIf="pedido.length > 0; else elseBlock" role="list" class="margintop">
                <mat-list-item *ngFor="let pelicula of pedido; index as i;" >
                    <mat-icon mat-list-icon>movie</mat-icon>
                    <div mat-line>{{pelicula.title}}</div>
                    <div mat-line>${{pelicula.precio}}</div>
                    <div mat-line>borrar <mat-icon (click)="borrarPeli(i)" >delete_outline</mat-icon></div>
                </mat-list-item>    
              </mat-list>
              <ng-template fxLayoutAlign="center" #elseBlock><p>Todavía no pediste ninguna película</p></ng-template>
              <mat-list *ngIf="totalPedido" fxLayoutAlign="center center">
                  <hr>
                  <p>Total: {{totalPedido}}</p>
              </mat-list> 
        </mat-card-content>
            <button *ngIf="pedido.length > 0; else elseButton" (click)="confirmarPedido()" mat-stroked-button color="primary" class="btn-block">Finalizar Pedido</button>
        <ng-template #elseButton>
          <button   [disabled]="true" mat-stroked-button color="primary" class="btn-block">Finalizar Pedido</button>
        </ng-template>
    </mat-card>
  
  </div>