<!-- 
<mat-list *ngIf="pedido" role="list" class="margintop">
    <mat-list-item *ngFor="let pelicula of pedido" >
        <mat-icon mat-list-icon>movie</mat-icon>
        <div mat-line>{{pelicula.title}}</div>
        <div mat-line>${{pelicula.precio}}</div>
    </mat-list-item>    
  </mat-list> -->

  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Pedido</mat-card-title>
      </mat-card-header>
      <!-- <h3 *ngIf="message !=''" class="md-headline" md-colors="green">{{message}}</h3> -->
      <!-- <form class="example-form" novalidate [formGroup]="form" (ngSubmit)="iniciar($event)" > -->
        <mat-card-content>
            <mat-list *ngIf="pedido; else elseBlock" role="list" class="margintop">
                <mat-list-item *ngFor="let pelicula of pedido; index as i;" >
                    <mat-icon mat-list-icon>movie</mat-icon>
                    <div mat-line>{{pelicula.title}}</div>
                    <div mat-line>${{pelicula.precio}}</div>
                    <div mat-line>borrar <mat-icon (click)="borrarPeli(i)" >delete_outline</mat-icon></div>
                </mat-list-item>    
              </mat-list>
              <ng-template #elseBlock><p>Todavía no pediste ninguna película</p></ng-template>
                    <ng-template *ngIf="totalPedido">
                        <hr>
                        <p>Total: {{totalPedido}}</p>
                    </ng-template> 

          <!-- <mat-error *ngIf="logFail">Usuario o contraseña incorrecto</mat-error> -->
        </mat-card-content>
        <button type="submit" mat-stroked-button color="primary" class="btn-block">Finalizar Pedido</button>
      <!-- </form> -->
    </mat-card>
  
  </div>