
<div class="container margintop">
    <div *ngIf="peliculas"  >      
      <mat-card *ngFor="let pelicula of peliculas" style="width: 18rem;" class="example-card">
        <mat-card-header>
          
          <mat-card-title>{{pelicula.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{pelicula.img}}"  alt="imagen {{pelicula.title}}">
        <mat-card-content>
          <p>
            {{pelicula.descripcion}}
          </p>
          <p>${{pelicula.precio}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button  mat-stroked-button color="primary" (click)=agregarPelicula(pelicula) >agregar</button>
        </mat-card-actions>
      </mat-card>
      
    </div>
  </div>

  
